#Authenticationpagebox{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#Authenticationpagebox2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: flex-start;
    align-items: center;
}

h1{
    font-family: sans-serif;
    font-size: 250%;
    font-weight: 700;
}

#Authenticationpagebox2{
    width: 90%;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.142);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#header{
    background-color: rgba(255, 255, 255, 0.319);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    padding: auto;

}