:root {
    --bg-main: #0B1F1A;
    --bg-card: #163832;
    --primary: #1B9C85;
    --primary-hover: #22BFA3;
    --gold: #D4AF37;
    --gold-hover: #E6C35C;
    --text-main: #E8F6F3;
    --text-secondary: #B7DAD3;
}

#Chatinglistbox {
    height: 86%;
    background-color: var(--bg-card);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    z-index: 100;
    position: fixed;
    /* left: -250px; */
    display: inline-flex;
    box-shadow:0px 0px 10px 1px  #E8F6F3;

}


#Chatinglistbox ul {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    background-color: transparent;
    padding: 5px;
}

#Chatinglistbox button{
    height: 30px;
    width: 40px;
    border: none;
    background-color: transparent;
    margin-top: 10px;
}

#Chatinglistbox button img{
    margin: 3px;
}

#Chatinglistbox ul li #profileimg {
    width: 30px;
    border-radius:100px;
}

#Chatinglistbox ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
    height: 8%;
    border: 2px solid var(--bg-main);
    margin-bottom: 3px;
    background-color: #014d3f;
}

#Chatinglistbox ul span{
    color: white;
    font-family: sans-serif;
}

#Chatinglistbox ul span:hover{
    color: var(--gold-hover);
}

#Chatinglistbox ul li img {
    width: 100%;
    height: 100%;
    border-radius: 50px;

}


@media (min-width:852px) {
    #Chatinglistbox #profileimg {
        width: 15%;
    }
}

/* 1035 */
@media (min-width:1035px) {
    #Chatinglistbox #profileimg {
        background-color: red;
        width: 13%;
    }
}

/* 1212 */
@media (min-width:1212px) {
    #Chatinglistbox #profileimg {
        background-color: red;
        width: 11%;
    }

    #Chatinglistbox {
        width: 18%;
    }
}
