#CSHeaderbox {
    background-color: rgba(255, 255, 255, 0.066);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 20%;
    height: 80%;
    background-color: red;
    color: white;
    border: 1px solid white;
}

#profname {
    width: 70%;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#profname img {
    width: 10%;
    border-radius: 80px;
}

@media (min-width:508px) {
    #profname img {
        width: 9%;
    }
}

@media (min-width:576px) {
    #profname img {
        width: 7%;
    }
}

/* 737 */
@media (min-width:737px) {
    #profname img {
        width: 6%;
    }
}

/* 1042 */
@media (min-width:1042px) {
    #profname img {
        width: 4%;
    }
}