#headerbox {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#headerbox h1 {
    font-family: sans-serif;
}

@media (max-width:709px) {
    h1 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:280px) {
    #headerbox h1 {
        font-size: 30px;
        text-align: center;
    }
}

