#loginsignupnavbox{
    display: flex;
    gap: 20px;
}

h2{
    cursor: pointer;
}

h2:hover{
    background-color: #102A24;
    border-radius: 50px;
    font-size: 25px;
    padding: 5px;
    color: #B7DAD3;
}