#loginpagebox{
    background-color: rgba(250, 235, 215, 0.185);
    width: 40vw;
    height: 60vh;
}

#loginpagebox form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#loginpagebox form input{
    background-color: rgba(255, 255, 255, 0.452);
    width: 100%;
    height: 10%;
}

#loginpagebox form button{
    width: 80%;
    height: 15%;
    background-color: green;
}