#loginsignupnavbox {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
}

#loginsignupnavbox h2 {
    cursor: pointer;
    font-size: 150%;
    padding: 5px;
    text-shadow: 2px 3px 4px black;

}

#loginsignupnavbox h2:hover {
    background-color: #22BFA3;
    border-radius: 50px;
    color: #E8F6F3;
}