:root {
  --bg-main: #0B1F1A;
  --bg-card: #163832;
  --primary: #1B9C85;
  --primary-hover: #22BFA3;
  --gold: #D4AF37;
  --gold-hover: #E6C35C;
  --text-main: #E8F6F3;
  --text-secondary: #B7DAD3;
}

#messagebox{
    height: 20px;
}

#messagebox p{
    background-image: linear-gradient(145deg,var(--bg-card),var(--gold));
    border-radius: 20px;
    display: inline-flex;
    padding: 5px;
    font-family: sans-serif;
}