#NavbarMbox {
    width: 15vw;
    height: 10vh;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 70px;
    background-color: #1B9C85;
}

#NavbarMbox ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

#NavbarMbox ul li{
   /* background-color: bisque; */
    width: 100%;
    height: 50%;
    background-color: blue;
}

@media (min-width:853px) {
    #NavbarMbox {
        display: none;
    }
}