:root {
  --bg-main: #0B1F1A;
  --bg-card: #163832;
  --primary: #1B9C85;
  --primary-hover: #22BFA3;
  --gold: #D4AF37;
  --gold-hover: #E6C35C;
  --text-main: #E8F6F3;
  --text-secondary: #B7DAD3;
}


#NavbarMbox {
    width: 15vw;
    height: 10vh;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 70px;
    background-color: #1B9C85;
}

#NavbarMbox ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

#NavbarMbox ul li{
   /* background-color: bisque; */
    width: 100%;
    height: 50%;
    cursor: pointer;
}

@media (min-width:853px) {
    #NavbarMbox {
        display: none;
    }
}