:root {
    --bg-main: #0B1F1A;
    --bg-card: #163832;
    --primary: #1B9C85;
    --primary-hover: #22BFA3;
    --gold: #D4AF37;
    --gold-hover: #E6C35C;
    --text-main: #E8F6F3;
    --text-secondary: #B7DAD3;
}

#box2 {
  background-color: rgba(0, 0, 0, 0.702);
  width: 100vw;
  height: 80vh;
  z-index: 115;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profimgupload {
  background-color: var(--bg-card);
  width: 25vw;
  height: 40vh;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 120;
  position: fixed;
}

#imgspace{
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
}

input[type="file"]::file-selector-button {
  background-color: #163832;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #1f4f47;
}