#Searchboxmain {
    background-color: rgba(250, 243, 243, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 5vh;
    width: 50vw;
    position: relative;
    border-radius: 50px;
    z-index: 109;
}

#searchuserform {
    width: 100%;
    height: 100%;
    display: flex;
}

#searchuserform input {
    width: 80%;
    height: 90%;
    color: azure;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

ul {
    width: 40vw;
    /* height: 50vh; */
    display: flex;
    z-index: 150;
}

ul li {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li img {
    width: 20%;
    height: 100%;
    border-radius: 30px;
}

#searchuserform button {
    width: 20%;
    height: 100%;
    border-radius: 50px;
    border: none;
    font-size: 80%;
    font-weight: 800;
    color: white;
    background-color: rgba(245, 246, 245, 0.495);
    cursor: pointer;
}

li button {
    cursor: pointer;
}

#btnadd {
    background-color: green;
    width: 100%;
    height: 70%;
    cursor: pointer;
}

#btnremove {
    background-color: red;
    width: 100%;
    height: 70%;
    cursor: pointer;
}

@media (max-width:1119px) {
    #Searchboxmain {
        width: 40vw;
    }
}