#SignUpbox {
    background-color: #163832;
    width: 40vw;
    height: 60vh;
}

ul {
    width: 40vw;
    /* height: 40vh; */
    display: flex;
    flex-direction: row;
    z-index: 100;
}

li{
    color: antiquewhite;
}

li button{
    width: 100%;
    background-color: green;
}

#SignUpbox form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#SignUpbox form input {
    background-color: rgba(255, 255, 255, 0.452);
    width: 100%;
    height: 10%;
}

#SignUpbox form button {
    width: 80%;
    height: 15%;
    background-color: green;
}