#Typemsgbox{
    position: absolute;
    bottom: 30px;
    width: 65%;
    height: 10%;
    border-radius: 50px;
    color: blueviolet;
    margin-left: 10px;
    background-color: rgba(240, 248, 255, 0.507);
  
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

form input{
    width: 80%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}

form button{
    width: 20%;
    height: 100%;
    border-radius: 50px;
}