:root {
  --bg-main: #0B1F1A;
  --bg-card: #163832;
  --primary: #1B9C85;
  --primary-hover: #22BFA3;
  --gold: #D4AF37;
  --gold-hover: #E6C35C;
  --text-main: #E8F6F3;
  --text-secondary: #B7DAD3;
}


#Typemsgbox{
    position: absolute;
    bottom: 30px;
    width: 97%;
    height: 7%;
    border-radius: 50px;
    margin-left: 10px;
    background-color: var(--primary);
  
}

form{
    width: 100%;
    height: 100%;
    display: flex;
}

form input{
    margin-left: 10px;
    width: 85%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}

form button{
    width: 15%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--bg-card);
    font-size: 20px;
}